/* Core styles for the page */
body {
    font-family: arial, verdana, sans-serif, clean !important;
    margin: 0;
    padding: 5px;
    font-size: 11px;
}

/* Login */

.login_form {
    width: 400px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.login_form .ui-widget-header, .login_form .ui-widget-footer {
    background: #01325A none !important;
    color: white !important;
    height: 40px;
}

/* Dialogs */

.ui-dialog .ui-dialog-titlebar {
    padding: 3px 10px !important;
    background: #e8e8e8 none !important;

}

.ui-dialog.ui-widget-content .ui-dialog-title {
    font-size: 14px;
}

.ui-dialog.ui-widget-content .ui-dialog-content {
    font-size: 13px;
}

/* Layout */

.page_layout_north {
    background-color: #01325A !important;
    background-image: none !important;
    color: white;
}

.page_layout_south {
    background-color: #eeeeee !important;
    background-image: none !important;
    color: white;
}

.page_layout_center {
    padding: 20px;
}

.pe-layout-pane-header {
    /*    color : #06b ; */
    background: #e8e8e8;
    color: #01325A;
    font-size: 1.1em;
    font-weight: bold;
    height: 15px !important;
    padding: 8px 1em !important;
}

/* app name on top left of the header */
.top_header {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 3.6em;
    font-family: Ericsson Capital TT
}

/* logged user name on bottom right of the header */
.logged_user_header {
    margin-top: 30px;
    margin-right: 20px;
}

.nav_menu {
    border: 0 none !important;
}

.ui-outputlabel {
    font-weight: bold;
}

/*
   input form without the grids, all based on floating & clearing
   remember to use  use of class 'ui-helper-clearfix' (provided by PF) to avoid collapsing div of all floating content,
   see answer to : http://stackoverflow.com/questions/218760/how-do-you-keep-parents-of-floated-elements-from-collapsing
*/

.input_form {
    padding: 20px;
}

.input_form .dialogLabel {
    padding: 2px;
    margin: 4px 4px 10px;
    width: 80px;
    float: left;
    clear: left;
}

.input_form .ui-message-error {
    float: left;
}

.input_form input {
    float: left;
    width: 300px;
}

.input_form .ui-chkbox {
    margin-top: 3px;
    float: left;
}

.account_details {
    margin-top: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.account_input_form .dialogLabel {
    width: 130px;
}

.account_input_form input {
    float: left;
    width: 150px;
}

/*
    some CSS hacking to fix the rendering of the users list
*/

.users_listbox {
    border: 0 none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: none !important;
    width: 240px !important;
}

.ui-selectlistbox-list tr {
    height: 22px !important;
}

.ui-selectlistbox-list tr > td:first-child {
    width: 200px !important;
}

/*
    icons for buttons
*/

.add_user_icon {
    background-image: url(#{resource[ 'images/user_add.ico' ]}) !important;
}

.delete_user_icon {
    background-image: url(#{resource[ 'images/user_delete.ico' ]}) !important;
}

.full_screen_icon {
    background-image: url(#{resource[ 'images/view_fullsceen.ico' ]}) !important;
}

/* question page */

.question_button_panel {
    float: left;
    clear: left;
}

.question .ui-outputlabel {
    float: left;
    clear: left;
    font-size: 2em;
    margin-top: 10px;
}

.question .question_text {
    float: left;
    clear: left;
    font-size: 1.5em;
    margin: 20px;
}

.question .ui-selectoneradio, .question .ui-selectmanycheckbox {
    float: left;
    clear: left;
    font-size: 1.5em;
    margin: 20px;
    /*    border-spacing: 20px; */
}

.question .ui-selectoneradio td, .question .ui-selectoneradio tr {
    padding: 10px;
}

.ui-datatable-header {
    /* TODO : RGB of E/// header : 163:196:0 -> 0:131:182 */
    background-image: url(#{resource[ 'images/ericsson-green-blue-header.png' ]}) !important;
    background-size: 100% auto;
    /*background-color: #06b ;*/
    color: white;
}

.ui-datatable-scrollable {
    border-bottom: 1px solid #EEEEEE !important;
}

.ui-datatable-scrollable-body {
    font-size: 0.8em !important;
}

.ui-datatable-even {

    background-color: #eeeeee;
}

.small_button {
    width: 1.7em;
    height: 1.7em;
}

.ui-dialog {
    -moz-box-shadow: 0 0 50px 5px #DDD !important;
    -webkit-box-shadow: 0 0 50px 5px #DDD !important;
    box-shadow: 0 0 50px 5px #DDD !important;
}
